.ol-map {
    min-width: 600px;
    min-height: 500px;
    height: 500px;
    width: "100%";
}

.ol-control {
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}

.ol-full-screen {
    bottom: .5em;
    right: .5em;
}

.clicked-coord-label {
    position: absolute;
    left: 10px;
    right: 10px;
    font-size: 13px;
    width: auto;
}

.clicked-coord-label p {
    padding: 0px;
    margin: -25px 0px;
    position: absolute;
    border: 1px solid #3344333d;
    background: #ffffff4a;
}