.sidebar-left {
  position: absolute;
  left: 0.5em;
  top: 1em;
  align-items: center;
  color: white;
  justify-content: flex-end;
  width: 100%;
  z-index: 1;
  color: #252a32;
}

.hamburger {
  width: 40px;
  display: flex;
  cursor: pointer;
  margin-right: 5rem;
  margin-left: 1rem;
  background: #ffffff8e;
  border: 1px solid #0000003f;
  border-radius: 5px;
}

.sidebar-block {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 255px;
  background: white;
  transition: all 0.35s ease-out;
}

.sidebar-block p {
  display: block;
  text-decoration: none;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-block a:hover {
  color: #aad3df;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.suggestion {
  cursor: pointer;
  border-right: 1px solid #58585826;
  border-left: 1px solid #58585826;
  border-bottom: 1px solid #58585826;
  padding: 2px;
}

.suggestion:hover {
  color: rgb(0, 79, 143);
  background-color: rgb(240, 240, 240);
}
